.container {
	position: relative;
	width: 100%;
}

.container img {
	width: 100%;
	display: block;
}

.text-overlay {
	font-size: large;
	position: absolute;
	top: 50%;
	right: 10%;
	color: rgb(0, 0, 0);
	text-align: right;
	padding: 10px;
}
